*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    font-family: "Segoe UI", sans-serif;
}

::-webkit-scrollbar{
    display: none;
}

.alarm{
    border: 3px solid #2E94E3;
    border-radius: 8px;

}

.datetime{
    color: black;
    background: white;
    width: 25em;
    padding: 15px 10px;
    transition: 0.5s;
    transition-property: background,box-shadow;
   
}


.date{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    max-width: 0 6px;
    font-weight: 600;
    text-align: center;
}

.time span:last-child{
    background: #2E94E3;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

hr{
    border: 1px solid #2E94E3;
    margin: 20px auto;
}

.setAlarm{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}

.column select{
    background: white;
    color: black;
    text-align: center;
    padding: 8px 4px;
    border: 1px solid #2E94E3;
    border-radius: 18px;
}


#btn-setAlarm, .btn-delete, #stopAlarm, #btn-delAlarm{
    padding: 5px;
    color: black;
    background: #2E94E3;
    border: 1px solid #2E94E3;
    border-radius: 18px;
    text-align: center;
}



#Siguiente{
    padding: 5px;
    color: black;
    background: #2E94E3;
    border: 1px solid #2E94E3;
    border-radius: 18px;
    text-align: center;
   

}

#stopAlarm{
    visibility: hidden;
    width: 100px;
    margin: 0 36%;
}

.btnStyle{
    padding: 5px;
    color: black;
    background: #2E94E3;
    border: 1px solid #2E94E3;
    border-radius: 18px;
    text-align: center;
    font-family: 'Lobster', cursive; 

    margin-bottom: 2%;

    display: flex;
    flex-direction: row;

}

#btn-center{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    
}

#botonWhite{
    color: white;
}


.btn{

    padding: 5px;
    color: black;
    background: #2E94E3;
    border: 1px solid #2E94E3;
   
    text-align: center;

}

.btn:hover{
    color:white;
}


.btn-delete{
    margin-left: 50px;
}

#btn-setAlarm:hover, .btn-delete:hover, #stopAlarm:hover{
    cursor: pointer;
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

button:hover{
    cursor: pointer;
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}

h3{
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3%;
}

ul {
    list-style: none;
    text-align: center;
    font-size: large;
    font-weight: 600;
}




li{
    color: black;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.alarmLog{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px auto;
}

dialog {
    max-width: 650px;
    padding: 40px 70px;
    border: 3px solid #2E94E3;
    border-radius: 8px;
    background-color: white;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  
  dialog::backdrop {

    background: rgba(43, 42, 83, 0.9);
  }

  @keyframes alarma{
   0%{
    color: black;
    background: white;
    font-family: "Segoe UI", sans-serif;
    width: 25em;
    padding: 15px 10px;
    transition: 0.5s;
    transition-property: background,box-shadow;
   }
   100%{ 
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
    border-radius: 5px;}
  }

  @media screen and (max-width: 800px) {

    .datetime{
        color: black;
        background: white;
        width: 20em;
        padding: 15px 10px;
        transition: 0.5s;
        transition-property: background,box-shadow;
       
    }

    dialog {
        max-width: 650px;
        padding: 40px 70px;
        border: 3px solid #2E94E3;
        border-radius: 8px;
        background-color: white;
        margin-top: 30%;
        margin-left: auto;
        margin-right: auto;
      }
  }
